.h_img{
    background-image: url(../images/assets/backgrounds/h_img.jpg);
    height: 1000px;
}
#logo{
    float: right;
    padding-right: 250px;
    padding-top: 260px;
}
.h_img h1{
    padding-top: 440px;
    padding-left: 500px;
    color: #FFFFFF;
    font-size: 80px;
}
.h_img h5{
    padding-left: 420px;
    color: #FFFFFF;
}