.part1 {
    background-image:url(../images/assets/backgrounds/hero.jpg);
    padding-bottom: 500px;
      }

.part1 p {
     color: white;
      }

.part1 h1 {
    color: white;
  }

.image {
      background-image: url(/home/tony/Documents/HTML/FrontEnd-Assignments/Assignment_1/assets/products/tshirt.png);
  }
.section4 {
      background-image:url(/home/tony/Documents/HTML/FrontEnd-Assignments/Assignment_1/assets/backgrounds/about.jpg);
      padding: 70px;
  }
.about{
      border-style: solid;
        border-width: 1px;
  }
.section6{
      text-align: center;
      padding: 20px;
  }
.section3{
      background-color: rgba(195,131,76);
  }